$background-color: white;

body {
  background-color: $background-color;
  user-select: none;
  border-radius: 50%;
  box-sizing: border-box;
  font-family: 'Georgia';
  color: red;
}

h1 {
  color: darkred;
}


